.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  
    background-color: #454545 ;
  }

  .btn{
    margin: 25px auto;
    margin-top: 30px;
    /* display: block; */
    padding: 5px 30px;
    background: #454545;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}

  

  .right {
    right: 0;
    background-color: #ADD8E6;
  }
  
  h1{
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }